body {
    font-family: Roboto, Arial;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#timer {
    color: #CCCCCC;
    text-align: center;
    font-size: 24px;
}

#titre {
    color: #FFFFFF;
    padding-top: 200px;
    text-align: center;
    font-size: 50px;
}

#explication {
    color: #CCCCCC;
    font-side: 10px;
    padding: 20px;
    text-align: center;
}

#explication a {
    color: #FFFFFF;
}

#footer {
    font-size: 10px;
    position: absolute;
    text-align: right;
    bottom: 0px;
    right: 0px;
    color: #CCCCCC;
    padding: 5px;
}

#footer a {
    color: #FFFFFF;
}

#bar-respiration {
    width: 10%;
    Height: 33%;
    min-width: 200px;
    border: 1px solid #CCCCCC;
    text-align: center;
    margin: 0 auto;
}

#bar-background {
    color: #FFFFFF;
    text-align: center;
    font-family: arial;
    padding-top: 5px;
}

#bar-background.filling {
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-animation: inspirer 5s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
    /* Safari 4.0 - 8.0 */
    animation: inspirer 5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@-webkit-keyframes inspirer {
    from {
        height: 0%;
    }
    to {
        height: 100%;
        background-color: #CCCCCC;
    }
}

@keyframes inspirer {
    from {
        height: 0%;
    }
    to {
        height: 100%;
        background-color: #CCCCCC;
    }
}

#bar-background.emptying {
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-animation: expirer 5s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
    /* Safari 4.0 - 8.0 */
    animation: expirer 5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@-webkit-keyframes expirer {
    from {
        height: 100%;
    }
    to {
        height: 0%;
        background-color: #CCCCCC;
    }
}

@keyframes expirer {
    from {
        height: 100%;
        background-color: #CCCCCC;
    }
    to {
        height: 0%;
    }
}